<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body
        #app
            .clock
                .clock-inner
                    //- .minline
                    .line(style="transform: translateX(-50%)")
                    .line(style="transform: translateX(-50%) rotate(30deg)")
                    .line(style="transform: translateX(-50%) rotate(60deg)")
                    .line(style="transform: translateX(-50%) rotate(90deg)")
                    .line(style="transform: translateX(-50%) rotate(120deg)")
                    .line(style="transform: translateX(-50%) rotate(150deg)")
                    .line(style="transform: translateX(-50%) rotate(180deg)")
                    .line(style="transform: translateX(-50%) rotate(210deg)")
                    .line(style="transform: translateX(-50%) rotate(240deg)")
                    .line(style="transform: translateX(-50%) rotate(270deg)")
                    .line(style="transform: translateX(-50%) rotate(300deg)")
                    .line(style="transform: translateX(-50%) rotate(330deg)")
                    .dot(style="transform: translateX(-50%) rotate(6deg)")
                    .dot(style="transform: translateX(-50%) rotate(12deg)")
                    .dot(style="transform: translateX(-50%) rotate(18deg)")
                    .dot(style="transform: translateX(-50%) rotate(24deg)")
                    .dot(style="transform: translateX(-50%) rotate(36deg)")
                    .dot(style="transform: translateX(-50%) rotate(42deg)")
                    .dot(style="transform: translateX(-50%) rotate(48deg)")
                    .dot(style="transform: translateX(-50%) rotate(54deg)")
                    .dot(style="transform: translateX(-50%) rotate(66deg)")
                    .dot(style="transform: translateX(-50%) rotate(72deg)")
                    .dot(style="transform: translateX(-50%) rotate(78deg)")
                    .dot(style="transform: translateX(-50%) rotate(84deg)")
                    .dot(style="transform: translateX(-50%) rotate(96deg)")
                    .dot(style="transform: translateX(-50%) rotate(102deg)")
                    .dot(style="transform: translateX(-50%) rotate(108deg)")
                    .dot(style="transform: translateX(-50%) rotate(114deg)")
                    .dot(style="transform: translateX(-50%) rotate(126deg)")
                    .dot(style="transform: translateX(-50%) rotate(132deg)")
                    .dot(style="transform: translateX(-50%) rotate(138deg)")
                    .dot(style="transform: translateX(-50%) rotate(144deg)")
                    .dot(style="transform: translateX(-50%) rotate(156deg)")
                    .dot(style="transform: translateX(-50%) rotate(162deg)")
                    .dot(style="transform: translateX(-50%) rotate(168deg)")
                    .dot(style="transform: translateX(-50%) rotate(174deg)")
                    .dot(style="transform: translateX(-50%) rotate(186deg)")
                    .dot(style="transform: translateX(-50%) rotate(192deg)")
                    .dot(style="transform: translateX(-50%) rotate(198deg)")
                    .dot(style="transform: translateX(-50%) rotate(204deg)")
                    .dot(style="transform: translateX(-50%) rotate(216deg)")
                    .dot(style="transform: translateX(-50%) rotate(222deg)")
                    .dot(style="transform: translateX(-50%) rotate(228deg)")
                    .dot(style="transform: translateX(-50%) rotate(234deg)")
                    .dot(style="transform: translateX(-50%) rotate(246deg)")
                    .dot(style="transform: translateX(-50%) rotate(252deg)")
                    .dot(style="transform: translateX(-50%) rotate(258deg)")
                    .dot(style="transform: translateX(-50%) rotate(264deg)")
                    .dot(style="transform: translateX(-50%) rotate(276deg)")
                    .dot(style="transform: translateX(-50%) rotate(282deg)")
                    .dot(style="transform: translateX(-50%) rotate(288deg)")
                    .dot(style="transform: translateX(-50%) rotate(294deg)")
                    .dot(style="transform: translateX(-50%) rotate(306deg)")
                    .dot(style="transform: translateX(-50%) rotate(312deg)")
                    .dot(style="transform: translateX(-50%) rotate(318deg)")
                    .dot(style="transform: translateX(-50%) rotate(324deg)")
                    .dot(style="transform: translateX(-50%) rotate(336deg)")
                    .dot(style="transform: translateX(-50%) rotate(342deg)")
                    .dot(style="transform: translateX(-50%) rotate(348deg)")
                    .dot(style="transform: translateX(-50%) rotate(354deg)")
                    .hourline
                    .minline
                    .secline
        script(src="./js/main-dist.js")